
[global]
  netbios name  = {{ samba.name }}
  workgroup     = {{ samba.workgroup }}
  server string = {{ samba.comment }}

# Network
  socket options = TCP_NODELAY

# Name Resolution
  os level         = 15    # Beat everything except NT/2000 servers.
  local master     = yes

# Logging
  log file = /var/log/samba.log
  max log size = 1000
  syslog = 0

# Authentication
  restrict anonymous = 2
  invalid users = root

  obey pam restrictions = yes
  pam password change = yes
  passwd program = /usr/bin/passwd %u
  passwd chat = *Enter\snew\s*\spassword:* %n\n *Retype\snew\s*\spassword:* %n\n *password\supdated\ssuccessfully* .
  unix password sync = yes

  map to guest = bad user
  guest account = nobody

# Security
  unix extensions = no

# Printing
  load printers = no

# Shares
  directory mask = 0770
  create mask = 0660

{% for share in samba.shares %}
[{{share.name}}]
  comment = {{ share.name }}
  path = {{ share.path }}
  writeable = {{share.guest_can_write|default('no')}}
  guest ok = {{share.guest|default('yes')}}
{% if share.write_users is defined %}
  write list = {% for user in share.write_users %}{{user}}{% endfor %}
{% endif %}
{% if share.read_users is defined %}
  read list = {% for user in share.read_users %}{{user}}{% endfor %}
{% endif %}

{% if guest|default('yes') == 'no' %}
  valid users = {% for user in share.write_users %}{{user}} {% endfor %}{% for user in share.read_users %}{{user}} {% endfor %}
{% else %}
  available = yes
  browseable = yes
  public = yes
{% endif %}

  hide dot files = yes
  force group = {{samba.group}}

{% endfor %}
