[global]
  netbios name  = {{ samba.name }}
  workgroup     = {{ samba.workgroup }}
  server string = {{ samba.comment }}

# Network
  socket options = TCP_NODELAY

# Name Resolution
  os level         = 15    # Beat everything except NT/2000 servers.
  local master     = yes

# https://askubuntu.com/a/1066049
  lanman auth = yes
  ntlm auth = yes

# Logging
  log file = /var/log/samba.log
  max log size = 1000
  syslog = 0

# Authentication
  restrict anonymous = 2
  invalid users = root

  map to guest = never
  guest account = nobody

# Security
  unix extensions = no

# disable Printing
  load printers = no
  printing = bsd
  printcap name = /dev/null

# Shares
  directory mask = 0770
  create mask = 0660

{% for name, options in samba.shares.items() %}
[{{ name }}]
{% for key, value in options.items() %}
   {{ key }} = {{ value }}
{% endfor %}
{% endfor %}
